@use "../abstracts" as *;
@use "../mixins" as *;


.blog-section {
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .topic{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title{
            font-size: toRem(18);
            line-height: toRem(27);
            font-weight: $fw6;

        }
        &__button__text {
            padding: toRem(6) toRem(12);
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: toRem(12.5);
            font-size: toRem(15);
            font-weight: $fw7;
            line-height: toRem(22.5);
            border: none;
            &__icon {
                color: $c2A;
            }
        }
    }

    .cards {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: .5rem;
        &__large{
            border-radius: toRem(10);
            padding: toRem(24);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(121, 122, 121, 1) 22%, rgba(255, 255, 255, 1) 50%);
            &__mini {
                background-color: $c2E;
                padding: 0 toRem(8);
                margin: 0;
                color: $c2A;
                font-size: toRem(12);
                font-weight: $fw6;
                line-height: toRem(18);
                width: fit-content;
                border-radius: toRem(12);
                margin-bottom: toRem(228);
            }
            &__topic{
                color: $c1H;
                font-weight: $fw6;
                font-size: toRem(22);
                line-height: toRem(33);
                margin-right: toRem(44);
                margin-bottom: toRem(8);
            }
            &__minors{
                display: flex;
                gap: toRem(8);
                align-items: center;
                &__avatar{
                    background-color: $c1G;
                    width: toRem(32);
                    height: toRem(32);
                    border-radius: 50%;
                }
                &__author{
                    font-family: $f1;
                    font-size: toRem(12);
                    font-weight: $fw4;
                    line-height: toRem(16);
                    color: $c1H;
                    margin-right: .5rem;
                }
                &__date{
                    font-family: $f1;
                    font-size: toRem(12);
                    font-weight: $fw4;
                    line-height: toRem(16);
                    color: $c1H;
                }
            }
        }
        &__medium{
            padding: 1rem;
            &__image{
                width: toRem(269);
                height: toRem(180);
                background-color: $c1F;
                border-radius: toRem(12);
                margin-bottom: toRem(24);
            }
            &__category{
                background-color: $c2E;
                width: fit-content;
                padding: 0 toRem(8);
                color: $c2A;
                font-family: $f2;
                font-size: toRem(12);
                font-weight: $fw6;
                line-height: toRem(18);
                border-radius: toRem(12);
                margin-bottom: toRem(8);
            }
            &__title{
                font-family: $f2;
                font-weight: $fw6;
                font-size: toRem(18);
                line-height: toRem(27);
                width: toRem(269);
                margin-bottom: toRem(16);
            }
            &__bottom{
                display: flex;
                gap: 1rem;
                font-size: toRem(12);
                font-family: $f1;
                font-weight: $fw4;
                line-height: 1rem;
            }
        }

        &__small{
            display: flex;
            flex-direction: column;
            gap: toRem(32);
            &__one{
                display: flex;
                justify-content: space-between;
                &__image{
                    width: toRem(96);
                    height: toRem(96);
                    background-color: $c1F;
                    border-radius: toRem(12);
                }
                &__details{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    &__title{
                        font-size: toRem(15);
                        font-weight: $fw5;
                        line-height: toRem(22);
                        margin-right: 1rem;
                        font-family: $f2;
                    }
                    &__bottom{
                        display: flex;
                        gap: 1rem;
                        font-size: toRem(12);
                        font-family: $f1;
                        font-weight: $fw4;
                        line-height: 1rem;
                    }
                }
            }
        }
    }
}