// COLORS

$c1A: #151515;
$c1B: #575757;
$c1C: #A9A9A9;
$c1D: #D1D1D1;
$c1E: #EBEBEB;
$c1F: #F5F5F5;
$c1G: #F9F9F9;
$c1H: #FFFFFF;
$c2A: #6A983C;
$c2B: #46760A;
$c2C: #92C064;
$c2D: #C8DEB3;
$c2E: #F4F8EC;
$c3A: #D0A866;
$c3B: #B28A48;
$c3C: #ECD2A6;
$c3D: #FAEDD8;
$c3E: #FFF9F0;
$c4A: #E5704B;
$c4B: #C7522D;
$c4C: #EB8D70;
$c4D: #F7C6B7;
$c4E: #FFF1ED;
$c5A: #37D0D6;
$c5B: #19B2B8;
$c5C: #7CD0D3;
$c5D: #B9E6E8;
$c5E: #ECF6F6;